<!doctype html>
<html>

<head>
    <!-- Bootstrap Core CSS -->
    <link href="/stylesheets/startbootstrap-grayscale-1.0.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/startbootstrap-round-about-1.0.4/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/startbootstrap-shop-item-1.0.4/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/startbootstrap-shop-homepage-1.0.4/css/bootstrap.min.css" rel="stylesheet">


    <!-- Custom CSS -->
    <link href="/stylesheets/startbootstrap-grayscale-1.0.6/css/grayscale.css" rel="stylesheet">
    <link href="/stylesheets/startbootstrap-round-about-1.0.4/css/round-about.css" rel="stylesheet">
    <link href="/stylesheets/startbootstrap-shop-item-1.0.4/css/shop-item.css" rel="stylesheet">
    <link href="/stylesheets/startbootstrap-shop-homepage-1.0.4/css/shop-homepage.css" rel="stylesheet">
    <link href="/stylesheets/customcss.css" rel="stylesheet">
    <!--    <link rel="stylesheet" href="/stylesheets/bootstrap-login-register-forms/form-2/assets/bootstrap/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="/stylesheets/bootstrap-login-register-forms/form-2/assets/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-login-register-forms/form-2/assets/css/form-elements.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-login-register-forms/form-2/assets/css/style.css">

    <!-- Custom Fonts -->
    <link href="/stylesheets/startbootstrap-grayscale-1.0.6/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/startbootstrap-round-about-1.0.4/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/startbootstrap-shop-item-1.0.4/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/startbootstrap-shop-homepage-1.0.4/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <title>{{title}}</title>
</head>
<!-- Body ID need to be unique between pages? -->

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="/">
                    <i class="fa fa-play-circle"></i>
                    <script>
                        console.log(location.pathname)
                        if (location.pathname.length == 1) {
                            document.write('<span class="light">Welcome to</span> IER')
                        } else {
                            document.write('<span class="light">Go</span> HOME')
                        }
                    </script>
                </a>
            </div>


            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>


                    {{#if user}}
                    <li>
                        <a class="page-scroll" href="/users/{{user.email}}">
                        {{#if user.first_name}}
                        Logged in as: {{user.first_name}}
                        {{else}}
                        {{user.email}}
                        {{/if}}
                    </a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/logout">Logout</a>
                    </li>
                    {{else}}
                    <li>
                        <a class="page-scroll" href="/login">Login</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/signup">Signup</a>
                    </li>
                    {{/if}}
                    <li>
                        <a class="page-scroll" href="/products">Shop</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/cart">View Cart</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/employees">Our Team</a>
                    </li>


                    <script>
                        if (location.pathname.length == 1) {
                            document.write('<li><a class="page-scroll" href="#contact">Contact</a></li>')
                        } else {
                            document.write('<li><a class="page-scroll" href="/contact">Contact</a></li>')
                        }
                    </script>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    {{{body}}}
</body>

</html>
