<form action='/products/update/{{product.id}}' method=POST>
            <!--<p class="pull-center"><img class="img-responsive" src="http://placehold.it/800x300" alt=""><p><br>-->
            <p class="pull-center"><img class="center-block" src="/images/{{product.category}}{{product.id}}.jpg" style="width:800px; height:300px" alt=""></p>
                <input type="hidden" name="id" value="{{product.id}}">
                <input type="hidden" name="category" value="{{product.category}}">
                Product Price:<br>
                <h4><p class="pull-center"> <input type="text" name="price" value={{product.price}}></p></h4>
                <!--<h4 class="pull-right">${{product.price}}</h4>-->
                Product Description:<br>
                <textarea class="pull-center" rows="30" cols="100" name="description" style="height: 200px">{{product.description}}</textarea><br><br>
                Product Brand:<br>
                <h4><textarea class="pull-center" rows="1" columns="1" name="brand">{{product.brand}}</textarea></h4>
                <input type="hidden" name="rating" value="{{product.rating}}">
                Product Name:<br>
                <h4><textarea class="pull-center" rows="1" columns="1" name="name">{{product.name}}</textarea></h4>
                Quantity Remaining:<br>
                <h4><p class="pull-center"><input type="text" name="quantity" value={{product.quantity}}></p></h4>

                <button type="submit" id="editProductButton">Update</button>
</form>

<div class="container">

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Your Website 2014</p>
            </div>
        </div>
    </footer>

</div>

<!-- /.container -->

<!-- jQuery -->
<script src="/stylesheets/startbootstrap-shop-item-1.0.4/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/stylesheets/startbootstrap-shop-item-1.0.4/js/bootstrap.min.js"></script>
